node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

jspm_packages/

dist/
build/

.env

.cache/
.tmp/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.babelrc
.babelrc.js
.babelrc.json
babel.config.js